.home {
    margin-top: 90px;
    width: 100%;
}

.home-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.home-content-top {
    margin-bottom: 130px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    &-text {
        color: #24272C;
        font-family: Nunito;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2px;
    }

    &-title {
        color: #24272C;
        font-family: Nunito;
        font-size: 85px;
        font-style: normal;
        font-weight: 600;
        line-height: 70px;
        letter-spacing: 2px;

        height: 67px;
        margin-top: 15px;
        margin-bottom: 35px;
    }

    &-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 52px;
        margin-bottom: 80px;
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-link {
        color: #24272C;
        text-align: center;
        font-family: Nunito;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        /* 90% */
        letter-spacing: 2px;
    }

    &-btn-group {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    &-btn-link {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 170px;
        height: 55px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 0.553px solid rgba(255, 255, 255, 0.16);
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.40) 0%, rgba(255, 255, 255, 0.40) 100%), #E6E7EE;
        background-blend-mode: soft-light, normal;
        box-shadow: -6px -6px 12px 0px #FFF, 6px 6px 12px 0px #B8B9BE;
        color: #24272C;
        font-family: Nunito;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 17px;
        /* 85% */
        transition: 0.4s;
        letter-spacing: 2px;



        &:hover {
            box-shadow: inset -6px -6px 12px 0px #FFF, inset 6px 6px 12px 0px #B8B9BE;
        }

        &:active {
            transform: scale(0.95);
        }
    }
}


.home-content-bottom {
    display: flex;
    align-items: center;
    justify-content: center;

    &-list {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        gap: 60px;
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        &-icons {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: #E6E7EE;
            box-shadow: -6px -6px 12px 0px #FFF, 6px 6px 12px 0px #B8B9BE;

            margin-bottom: 30px;
        }

        &-icon {
            font-size: 40px;
            color: #24272C;
        }

        &-title {
            width: 199px;
            color: #24272C;
            text-align: center;
            font-family: Nunito;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.home-component {
    margin-top: 45px;
}

.home-component-content {
    width: 100%;

    &-one {
        width: 100%;
        height: 178px;
        border-radius: 10px;
        background: #E6E7EE;
        box-shadow: -6px -6px 12px 0px #FFF, 6px 6px 12px 0px #B8B9BE;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
        margin-bottom: 35px;

        &-title {
            color: #24272C;
            font-family: Nunito;
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 22px;

            display: flex;
            width: 195px;
            height: 24px;
        }

        &-text {
            display: flex;
            width: 410px;
            height: 36px;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;

            color: #24272C;
            font-family: Nunito;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 1px;
        }

        &-link {
            display: flex;
            align-items: center;
            justify-content: center;

            color: #24272C;
            font-family: Nunito;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 17px;
            /* 106.25% */
            letter-spacing: 2px;
            width: 140px;
            height: 44px;
            flex-shrink: 0;
            border-radius: 10px;
            border: none;
            background: #E6E7EE;
            box-shadow: -3px -3px 6px 0px #FFF, 3px 3px 6px 0px #B8B9BE;

            transition: 0.4s;

            &:hover {
                box-shadow: inset -3px -3px 6px 0px #FFF, inset 3px 3px 6px 0px #B8B9BE;
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }

    &-portfolio {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 25px;
        margin-bottom: 75px;

        &-element {
            width: 350px;
            height: 490px;
            border-radius: 10px;
            background: #E6E7EE;
            box-shadow: -6px -6px 12px 0px #FFF, 6px 6px 12px 0px #B8B9BE;

            padding: 15px;
            position: relative;

            &-image {
                width: 320px;
                height: 210px;
                border-radius: 10px;
                margin-bottom: 25px;
            }

            &-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
            }

            &-item {
                display: flex;
                align-items: center;
                justify-content: center;

                &-span {
                    border: 0.5px solid #24272C;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                &-title {
                    color: #24272C;
                    font-family: Nunito;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 17px;
                    letter-spacing: 2px;
                }

                &-icon {
                    font-size: 16px;
                    color: #24272C;
                    margin-right: 5px;
                }

                &-data {
                    color: #24272C;
                    font-family: Nunito;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 20px;
                    /* 200% */
                    letter-spacing: 2px;
                }
            }

            &-title {
                color: #24272C;
                font-family: Nunito;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 17px;
                /* 85% */
                letter-spacing: 2px;
                margin-bottom: 20px;
                text-transform: capitalize;
            }

            &-text {
                color: #24272C;
                font-family: Nunito;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 20px;
                /* 142.857% */
                letter-spacing: 2px;
            }

            &-load-more {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                width: 100%;
                bottom: 15px;
                padding: 0 15px;
                left: 0;
                right: 0;

                &-link {
                    width: 106px;
                    height: 38px;
                    flex-shrink: 0;
                    border-radius: 10px;
                    background: #E6E7EE;
                    box-shadow: -3px -3px 6px 0px #FFF, 3px 3px 6px 0px #B8B9BB;

                    color: #24272C;
                    font-family: Nunito;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 17px;
                    /* 121.429% */
                    letter-spacing: 2px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &-snow-icon {
                font-size: 28px;
                color: #24272C;
            }

            &-more {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 350px;
                height: 490px;
                border-radius: 10px;
                background: #E6E7EE;
                box-shadow: -6px -6px 12px 0px #FFF, 6px 6px 12px 0px #B8B9BE;

                padding: 15px;
                position: relative;
            }
        }
    }
}

.home-component-content-portfolio-more-link {
    width: 170px;
    height: 170px;
    flex-shrink: 0;

    border-radius: 50%;
    padding: 30px;

    border: none;
    background: #E6E7EE;
    box-shadow: inset -6px -6px 12px 0px #FFF, inset 6px 6px 12px 0px #B8B9BE;
}

.home-component-content-portfolio-more-link-router {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    width: 110px;
    height: 110px;
    flex-shrink: 0;
    background: #E6E7EE;
    box-shadow: -6px -6px 12px 0px #FFF, 6px 6px 12px 0px #B8B9BE;


    color: #24272C;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    /* 85% */
    letter-spacing: 2px;

    &:hover {
        box-shadow: inset -6px -6px 12px 0px #FFF, inset 6px 6px 12px 0px #B8B9BE;
    }

    &:active {
        transform: scale(0.95);
    }
}


// home-questions

.home-questions {}

.home-questions-content {
    width: 100%;

    &-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
        margin-bottom: 150px;
    }

    &-item {
        width: 1100px;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        height: 74px;
        flex-shrink: 0;
        border-radius: 10px;
        border-top: 4px solid #FFF;
        background: #E6E7EE;
        box-shadow: -6px -6px 12px 0px #FFF, 6px 6px 12px 0px #B8B9BE;
        padding: 20px 30px;

        &:hover {
            cursor: pointer;
        }

        &:active {
            transform: scale(0.99);
        }

        &.active {
            height: 191px;
        }

        &-blog {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 33px;

            &-title {
                color: #24272C;
                font-family: Inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                /* 75% */
                letter-spacing: 2px;
                height: 18px;
            }

            &-icon {
                font-size: 30px;
                color: #24272C;
            }

            &-text {
                color: #24272C;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                /* 155.556% */
                letter-spacing: 2px;
            }
        }
    }
}

.home-slider-user_blog_image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 130px !important;
    height: 130px !important;
    border-radius: 50%;
    background: #E6E7EE;
    box-shadow: -6px -6px 12px 0px #FFF, 6px 6px 12px 0px #B8B9BE;
}

.home-slider-user-comment {
    width: 598px;
    height: 94px;
    flex-shrink: 0;
    color: #24272C;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    /* 156.25% */
    letter-spacing: 2px;
    margin-top: 30px;
}

.home-slider-user_star-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
}

.home-slider-user_star-item-icon{
    color: 24272C;
    font-size: 25px;
}

// home-section


.home-section {
    margin-top: 150px;
}