@import './base/base.scss';
@import './base/header.scss';
@import './base/footer.scss';


@import './scss/home.scss';
@import './scss/about.scss';
@import './scss/contact.scss';
@import './scss/education.scss';
@import './scss/service.scss';
@import './scss/portfolio.scss';
@import './scss/swiper.scss';